.sub20-52 {
    width: 50%;
    top: -6%;
    left: 73%;
}
.sub20-54 {
    width: 50%;
    top: -6%;
    left: 73%;
}
.sub20-55 {
    width: 50%;
    top: 53%;
    left: 30;
    left: 27%;
}
.sub20-57 {
    width: 50%;
    top: -6%;
    left: 73%;
}
.sub20-58 {
    width: 50%;
    top: 53%;
    left: 30;
    left: 27%;
}
.sub22-61 {
    width: 21%;
    top: 10%;
    left: 25%;
}
.sub22-62 {
    width: 27%;
    top: 10%;
    left: 79%;
}
.sub22-63 {
    width: 21%;
    top: 10%;
    left: 25%;
}
.sub22-64 {
    width: 27%;
    top: 10%;
    left: 79%;
}
//66
.sub31-81 {
    width: 40%;
    top: 5%;
    left: 73%;
    // width: 60%;
    // top: 5%;
    // left: 56%;
}
.sub32-82 {
    width: 50%;
    top: 25%;
    left: 28%;
    transform: translate(-50%, 50%) rotateY(195deg) !important;
}
.sub33-84 {
    width: 30%;
    top: 35%;
    left: 69%;
}
.sub33-86 {
    width: 30%;
    top: 35%;
    left: 69%;
}
.sub34-88 {
    width: 30%;
    top: 35%;
    left: 69%;
}
.sub34-90 {
    width: 32%;
    top: 35%;
    left: 69%;
}
.sub35-92 {
    width: 65%;
    top: -14%;
    left: 51%;
}
.sub35-93 {
    width: 65%;
    top: -14%;
    left: 51%;
}
.sub37-95 {
    width: 65%;
    top: -14%;
    left: 51%;
}
.sub38-96 {
    width: 83%;
    top: -5%;
    left: 57%;
    // width: 50%;
    // top: 30%;
    // left: 33%;
}
.sub30-97 {
    width: 83%;
    top: 10%;
    left: 55%;
    transform: translate(-50%, 50%) rotate(5deg) !important;
}