.sub1-1{
  width: 40%;
  top: 20%;
  left: 30%;
}
.sub2-2 {
  width: 30%;
  top: 7%;
  left: 30%;
}
.sub2-3 {
  width: 35%;
  top: 5%;
  left: 75%;
}
.sub2-102 {
  width: 40%;
  top: 30%;
  left: 47%;
}
.sub4-103 {
  width: 40%;
  top: 30.5%;
  left: 47.5%;
}
.sub4-104 {
  width: 40%;
  top: 30.5%;
  left: 47.5%;
}
.sub5-4 {
  width: 40%;
  top: 21%;
  left: 25%;
}
.sub5-5 {
  width: 40%;
  top: 20%;
  left: 70%;
}
.sub6-6 {
  width: 40%;
  top: 43.5%;
  left: 20.5%;
  transform: translate(-50%, -50%) rotate(11deg) !important;
}
.sub6-7 {
  width: 40%;
  top: 43.5%;
  left: 20.5%;
  transform: translate(-50%, -50%) rotate(11deg) !important;
}
.sub7-8{
  width: 40%;
  top: 10%;
  left: 65%;
  transform: translate(-50%, 50%) rotate(-40deg) !important;
}
.sub7-9 {
  width: 60%;
  top: 30%;
  left: 40%;
  z-index: 3;
}
.sub7-10 {
  width: 40%;
  top: 10%;
  left: 65%;
  transform: translate(-50%, 50%) rotate(-40deg) !important;
}
.sub10-11 {
  width: 40%;
  top: 35%;
  left: 15%;
}
.sub11-12 {
  width: 75%;
  top: -20%;
  left: 65%;
}
.sub11-13 {
  width: 40%;
  top: 10%;
  left: 15%;
}
.sub11-14 {
  width: 75%;
  top: -20%;
  left: 65%;
}
.sub11-15 {
  width: 40%;
  top: 10%;
  left: 15%;
}
.sub11-16 {
  width: 90%;
  top: -20%;
  left: 70%;
}
.sub12-17 {
  width: 50%;
  top: 15%;
  left: 78%;
}
.sub12-18 {
  width: 40%;
  top: 38%;
  left: 34%;
  transform: translate(-50%, -50%) rotate(7deg) !important;
}
.sub14-19 {
  width: 40%;
  top: 1%;
  left: 28.8%;
}
.sub14-21 {
  width: 40%;
  top: 1%;
  left: 28.8%;
}
.sub15-23 {
  width: 35%;
  top: 29%;
  left: 67.5%;
}
.sub15-25 {
  width: 35%;
  top: 29%;
  left: 67.5%;
}
.sub16-27 {
  width: 35%;
  top: 30%;
  left: 78%;
  transform: translate(-50%, 50%) rotate(12deg);
}
.sub16-28 {
  width: 35%;
  top: 30%;
  left: 78%;
  transform: translate(-50%, 50%) rotate(12deg);
}
.sub16-29 {
  width: 20%;
  top: 30%;
  left: 40%;
}
.sub16-30 {
  width: 35%;
  top: 30%;
  left: 78%;
  transform: translate(-50%, 50%) rotate(12deg);
}
.sub16-30 {
  width: 35%;
  top: 30%;
  left: 78%;
  transform: translate(-50%, 50%) rotate(12deg);
}
.sub16-31 {
  width: 40%;
  top: 13%;
  left: 35%;
}
.sub16-32 {
  width: 35%;
  top: 30%;
  left: 78%;
  transform: translate(-50%, 50%) rotate(12deg);
}
.sub16-33 {
  width: 20%;
  top: 63%;
  left: 35%;
}
.sub17-34 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg);
  top: 37.7%;
  left: 50%;
}
.sub17-35 {
  width: 32%;
  top: 75%;
  left: 75%;
}
.sub17-36 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg);
  top: 37.7%;
  left: 50%;
}
.sub17-37 {
  width: 32%;
  top: 75%;
  left: 75%;
}
.sub17-38 {
  width: 25%;
  top: 35%;
  left: 20%;
  transform: translate(-50%, 50%) rotateY(180deg);
}
.sub17-39 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg);
  top: 37.7%;
  left: 50%;
}
.sub17-40 {
  width: 32%;
  top: 75%;
  left: 75%;
}
.sub17-41 {
  width: 37%;
  top: 30%;
  left: 81%;
}
.sub17-42 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg);
  top: 37.7%;
  left: 50%;
}
.sub17-43 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg);
  top: 37.7%;
  left: 50%;
}
.sub17-44 {
  width: 37%;
  top: 30%;
  left: 81%;
}
.sub17-45 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg);
  top: 37.7%;
  left: 50%;
}
.sub17-46 {
  width: 30%;
  top: 49%;
  left: 77%;
}
.sub18-47 {
  width: 35%;
  top: 30%;
  left: 78%;
  transform: translate(-50%, 50%) rotate(12deg);
}
.sub19-105 {
  width: 40%;
  top: 30%;
  left: 47%;
}
.sub19-48 {
  width: 22%;
  top: 8%;
  left: 28%;
}
.sub19-49 {
  width: 25%;
  top: 12%;
  left: 78%;
}
.sub20-50 {
  width: 38%;
  top: 36%;
  left: 76%;
}
.sub20-51 {
  width: 38%;
  top: 36%;
  left: 76%;
}
.sub20-53 {
  width: 38%;
  top: 36%;
  left: 76%;
}
.sub20-56 {
  width: 38%;
  top: 36%;
  left: 76%;
}
.sub20-59 {
  width: 38%;
  top: 36%;
  left: 76%;
}
.sub21-60 {
  width: 30%;
  left: 26%;
  top: 32.6%;
}
.sub25-69 {
  width: 35%; 
  top: 19%;
  z-index: 0;
  left: 77.5%;
}
.sub25-70 {
  width: 35%;
  top: 19%;
  z-index: 0;
  left: 77.5%;
}
.sub25-72 {
  width: 35%; 
  top: 19%;
  z-index: 0;
  left: 77.5%;
}
.sub25-75 {
  width: 35%;
  top: 19%;
  z-index: 0;
  left: 77.5%;
}
.sub26-106 {
  width: 35%;
  top: 50.5%;
  left: 34%;
}
.sub26-107 {
  width: 35%;
  top: 50.5%;
  left: 34%;
}
.sub27-108 {
  width: 35%;
  top: 50.5%;
  left: 34%;
}
.sub30-80 {
  width: 32%;
  transform: translate(-50%, 50%) rotate(10deg);
  top: 40.5%;
  left: 45%;
}
.sub32-83 {
  width: 15%;
  transform: translate(-50%, 50%) rotate(13deg);
  left: 69%;
  top: 33.2%;
}
.sub33-85 {
  width: 25%;
  transform: translate(-50%, 50%) rotate(20deg);
  top: 6.3%;
  left: 46%;
}
.sub33-87 {
  width: 25%;
  transform: translate(-50%, 50%) rotate(20deg);
  top: 6.3%;
  left: 46%;
}
.sub34-88 {
  width: 25%;
  transform: translate(-50%, 50%) rotate(10deg);
  top: 7.5%;
  left: 44%;
}
.sub36-94 {
  width: 25%;
  transform: translate(-50%, 50%) rotate(18deg);
  top: 1.9%;
  left: 46.5%;
}
.sub41-99 {
  width: 25%;
  top: 25.1%;
  left: 45%;
}
.sub39-98 {
  width: 27%;
  transform: translate(-50%, 50%) rotate(-6deg);
  top: 40.5%;
  left: 15%;
}
.sub41-100 {
  width: 25%;
  top: 25.1%;
  left: 45%;
}
.sub42-101 {
  width: 40%;
  transform: translate(-50%, 50%) rotate(-10deg);
  top: 19%;
  left: 20%;
}