.sub1-1{
  width: 40%;
  top: 20%;
  left: 30%;
  animation: smallBig 1.5s ease-in-out infinite;
}
.sub2-2 {
  width: 30%;
  top: 7%;
  left: 30%;
  animation: smallBig 1.5s ease-in-out infinite;
}
.sub2-3 {
  width: 35%;
  top: 5%;
  left: 75%;
  animation: leftRight 1.5s ease-in-out infinite
}
.sub2-102 {
  width: 35%;
  top: 19%;
  left: 48%;
}
.sub4-103 {
  width: 25%;
  top: 20.7%;
  left: 22%;
  transform: translate(-50%, 50%) rotate(13deg) !important;
  animation: leftRight 2s ease-in-out infinite;
}
.sub4-104 {
  width: 25%;
  top: 20.7%;
  left: 22%;
  transform: translate(-50%, 50%) rotate(13deg) !important;
  animation: leftRight 2s ease-in-out infinite;
}
.sub5-4 {
  width: 40%;
  top: 21%;
  left: 25%;
  animation: leftRight 2s ease-in-out infinite;
}
.sub5-5 {
  width: 40%;
  top: 20%;
  left: 70%;
}
.sub6-6 {
  width: 35%;
  top: 6%;
  left: 18.5%;
  animation: leftRight6 1.5s ease-in-out infinite !important;
  
}
.sub6-7 {
  width: 35%;
  top: 6%;
  left: 18.5%;
  animation: leftRight6 1.5s ease-in-out infinite !important;
}
.sub7-8{
  width: 40%;
  top: 10%;
  left: 65%;
  animation: leftRight10 2s ease-in-out infinite !important;
}
.sub7-9 {
  width: 60%;
  top: 30%;
  left: 40%;
  z-index: 3;
  animation: leftRight 2s ease-in-out infinite;
}
.sub7-10 {
  width: 40%;
  top: 10%;
  left: 65%;
  animation: leftRight10 2s ease-in-out infinite !important;
}
.sub10-11 {
  width: 50%;
  top: 15%;
  left: 30%;
  animation: smallBig 2s ease-in-out infinite;
}
.sub11-12 {
  width: 65%;
  top: -5%;
  left: 65%;
  animation: smallBig 2s ease-in-out infinite;
}
.sub11-13 {
  width: 40%;
  top: 10%;
  left: 15%;
  animation: leftRight 2s ease-in-out infinite;
}
.sub11-14 {
  width: 65%;
  top: -5%;
  left: 65%;
  animation: leftRight 1.5s ease-in-out infinite;
}
.sub11-15 {
  width: 40%;
  top: 10%;
  left: 15%;
  animation: samllBig 2s ease-in-out infinite;
}
.sub11-16 {
  width: 90%;
  top: -10%;
  left: 70%;
  animation: upDown 2s ease-in-out infinite;
}
.sub12-17 {
  width: 50%;
  top: 15%;
  left: 78%;
  animation: upDown 1.5s ease-in-out infinite;
}
.sub12-18 {
  width: 40%;
  top: 31.5%;
  left: 36%;
  transform: translate(-50%, -50%) rotate(7deg) !important;
}
.sub14-19 {
  width: 35%;
  top: -10%;
  left: 29.8%;
}
.sub14-21 {
  width: 35%;
  top: -10%;
  left: 29.8%;
}
.sub15-23 {
  width: 35%;
  top: 13%;
  left: 68%;
}
.sub15-25 {
  width: 35%;
  top: 13%;
  left: 68%;
}
.sub16-27 {
  width: 35%;
  top: 14.5%;
  left: 80%;
  transform: translate(-50%, 50%) rotate(12deg) !important;
}
.sub16-28 {
  width: 35%;
  top: 14.5%;
  left: 80%;
  transform: translate(-50%, 50%) rotate(12deg) !important;
}
.sub16-29 {
  width: 20%;
  top: 30%;
  left: 40%;
  animation: move 2.5s ease-in-out;
  animation-fill-mode: forwards;
}
.sub16-30 {
  width: 35%;
  top: 14.5%;
  left: 80%;
  transform: translate(-50%, 50%) rotate(12deg) !important;
}
.sub16-31 {
  width: 40%;
  top: 13%;
  left: 35%;
  animation: leftRight 2.5s ease-in-out;
}
.sub16-32 {
  width: 35%;
  top: 14.5%;
  left: 80%;
  transform: translate(-50%, 50%) rotate(12deg) !important;
}
.sub16-33 {
  width: 30%;
  top: 55%;
  left: 35%;
  animation: smallBig 2.5s ease-in-out;
}
.sub17-34 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg) !important;
  top: 22%;
  left: 53%;
}
.sub17-35 {
  width: 32%;
  top: 75%;
  left: 75%;
  animation: smallBig 2.5s ease-in-out;
}
.sub17-36 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg) !important;
  top: 22%;
  left: 53%;
}
.sub17-37 {
  width: 32%;
  top: 75%;
  left: 75%;
}
.sub17-38 {
  width: 25%;
  top: 35%;
  left: 0%;
  animation: move38 1.5s ease-in-out;
  animation-fill-mode: forwards;
}
.sub17-39 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg) !important;
  top: 21.8%;
  left: 53%;
}
.sub17-40 {
  width: 32%;
  top: 75%;
  left: 75%;
}
.sub17-41 {
  width: 37%;
  top: 30%;
  left: 81%;
  z-index: 5 !important;
  animation: move41 3s ease-in-out;
  animation-fill-mode: forwards;
}
.sub17-42 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg) !important;
  top: 21.8%;
  left: 53%;
}
.sub17-43 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg) !important;
  top: 21.8%;
  left: 53%;
}
.sub17-44 {
  width: 37%;
  top: 30%;
  left: 81%;
  z-index: 5 !important;
  animation: move44 4s ease-in-out;
  animation-fill-mode: forwards;
}
.sub17-45 {
  width: 35%;
  transform: translate(-50%, 50%) rotate(20deg) !important;
  top: 21.8%;
  left: 53%;
}
.sub17-46 {
  width: 25%;
  top: 55%;
  left: 80%;
  animation: smallBig 2s ease-in-out infinite;
}
.sub18-47 {
  width: 35%;
  top: 14.5%;
  left: 80%;
  transform: translate(-50%, 50%) rotate(12deg) !important;
}
.sub19-105 {
  width: 40%;
  top: 12%;
  left: 48%;
}
.sub19-48 {
  width: 21%;
  top: 10%;
  left: 25%;
  animation: smallBig 2s ease-in-out infinite;
}
.sub19-49 {
  width: 27%;
  top: 10%;
  left: 79%;
  animation: smallBig 2s ease-in-out infinite;
}
.sub20-50 {
  width: 38%;
  top: 18%;
  left: 77%;
  animation: smallBig 2s ease-in-out infinite;
}
.sub20-51 {
  width: 38%;
  top: 18%;
  left: 77%;
}
.sub20-53 {
  width: 38%;
  top: 18%;
  left: 77%;
}
.sub20-56 {
  width: 38%;
  top: 18%;
  left: 77%;
}
.sub20-59 {
  width: 38%;
  top: 18%;
  left: 77%;
  animation: leftRight 2s ease-in-out infinite;
}
.sub21-60 {
  width: 30%;
  left: 26.5%;
  top: 19%;
  animation: leftRight 1s ease-in-out infinite;
}
.sub22-110 {
  width: 35%;
  left: 48%;
  top: 19%;
}
.sub22-111 {
  width: 35%;
  left: 48%;
  top: 19%;
}
.sub25-69 {
  width: 35%;
  top: 4%;
  left: 79%;
  animation: leftRight 2s ease-in-out infinite;
}
.sub25-70 {
  width: 35%;
  top: 4%;
  left: 79%;
  animation: leftRight 1.5s ease-in-out infinite;
}
.sub25-72 {
  width: 35%;
  top: 4%;
  left: 79%;
  animation: leftRight 1.5s ease-in-out infinite;
}
.sub25-75 {
  width: 35%;
  top: 4%;
  left: 79%;
}
.sub26-106 {
  width: 30%;
  top: 42%;
  left: 35%;
}
.sub26-107 {
  width: 30%;
  top: 42%;
  left: 35%;
}
.sub26-108 {
  width: 30%;
  top: 42%;
  left: 35%;
  animation: leftRight 1.5s ease-in-out infinite;
}
.sub26-109 {
  width: 30%;
  top: 42%;
  left: 35%;
  animation: smallBig 1.5s ease-in-out infinite;
}
.sub30-80 {
  width: 32%;
  transform: translate(-50%, 50%) rotate(10deg) !important;
  top: 26%;
  left: 47%;
}
.sub32-83 {
  width: 15%;
  transform: translate(-50%, 50%) rotate(13deg) !important;
  left: 70%;
  top: 26.5%;
}
.sub33-85 {
  width: 25%;
  transform: translate(-50%, 50%) rotate(20deg) !important;
  top: -5%;
  left: 48.5%;
}
.sub33-87 {
  width: 25%;
  transform: translate(-50%, 50%) rotate(20deg) !important;
  top: -5%;
  left: 48.5%;
  animation: smallBig 1.5s ease-in-out infinite;
}
.sub34-89 {
  width: 25%;
  transform: translate(-50%, 50%) rotate(10deg) !important;
  top: -9.8%;
  left: 47%;
}
.sub34-91 {
  width: 25%;
  transform: translate(-50%, 50%) rotate(10deg) !important;
  top: -9.8%;
  left: 47%;
}
.sub36-94 {
  width: 25%;
  transform: translate(-50%, 50%) rotate(18deg) !important;
  top: -3.5%;
  left: 48%;
}
.sub41-99 {
  width: 25%;
  top: 14%;
  left: 45%;
  animation: leftRight 2s ease-in-out infinite;
}
.sub39-98 {
  width: 27%;
  transform: translate(-50%, 50%) rotate(-6deg) !important;
  top: 29%;
  left: 14%;
}
.sub41-100 {
  width: 25%;
  top: 14%;
  left: 45%;
  animation: smallBig 2s ease-in-out infinite;
}
.sub42-101 {
  width: 40%;
  top: 2%;
  left: 19%;
  animation: leftRight101 3s ease-in-out infinite;
}
.job-1 {
  width: 35%;
  top: 9%;
  left: 50%;
  animation: smallBig 3s ease-in-out infinite;
}
.job-2 {
  width: 35%;
  top: -1%;
  left: 50%;
}
.job-3 {
  width: 35%;
  top: 8%;
  left: 50%;
  animation: smallBig 3s ease-in-out infinite;
}
.job-4 {
  width: 40%;
  top: 0%;
  left: 37%;
  animation: smallBig 3s ease-in-out infinite;
}
.job-5 {
  width: 30%;
  top: 13%;
  left: 47%;
  transform: translate(-50%, 50%) rotate(-15deg) !important;
  animation: smallBig 3s ease-in-out infinite;
}
@keyframes smallBig {
  0% {
      transform: translate(-50%, 50%) scale(1);
  }
  50% {
      transform: translate(-50%, 50%) scale(1.1);
  }
  100% {
      transform: translate(-50%, 50%) scale(1);
  }
}
@keyframes upDown {
  0% {
      transform: translate(-50%, 50%);
  }
  50% {
      transform: translate(-50%, 55%);
  }
  100% {
      transform: translate(-50%, 50%);
  }
}
@keyframes leftRight {
  0% {
      transform: translate(-50%, 50%) rotate(-5deg); 
  }
  50% {
      transform: translate(-50%, 50%) rotate(5deg);
  }
  100% {
      transform: translate(-50%, 50%) rotate(-5deg);
  }
}
@keyframes leftRight6 {
  0% {
    transform: translate(-50%, 50%) rotate(-16deg); 
  }
  50% {
    transform: translate(-50%, 50%) rotate(-6deg);
  } 
  100% {
    transform: translate(-50%, 50%) rotate(-16deg);
  }
}
@keyframes leftRight10 {
  0% {
    transform: translate(-50%, 50%) rotate(-45deg); 
  }
  50% {
    transform: translate(-50%, 50%) rotate(-35deg);
  } 
  100% {
    transform: translate(-50%, 50%) rotate(-45deg);
  }
}
@keyframes leftRight101 {
  0% {
    transform: translate(-50%, 50%) rotate(-15deg); 
  }
  50% {
    transform: translate(-50%, 50%) rotate(5deg);
  } 
  100% {
    transform: translate(-50%, 50%) rotate(-15deg);
  }
}
@keyframes move {
  from { 
    width: 20%;
    top: 30%;
    left: 40%;
  }
  to { 
    width: 35%;
    top: 33%;
    left: 15%;
  }
}
@keyframes move38 {
  from { 
    width: 25%;
    top: 35%;
    left: 0%;
    transform: translate(-50%, 50%) rotateY(180deg)
  }
  to { 
    width: 25%;
    top: 35%;
    left: 20%;
    transform: translate(-50%, 50%) rotateY(180deg)
  }
}
@keyframes move41 {
  from {
    width: 37%;
    top: 30%;
    left: 81%;
  }
  to {
    width: 37%;
    top: 30%;
    left: 65%;
  }
}
@keyframes move44 {
  from {
    width: 37%;
    top: 30%;
    left: 81%;
  }
  to {
    width: 15%;
    top: -20%;
    left: -20%;
  }
}
@keyframes samllBig8 {
  0% {
    transform: translate(-50%, 50%) scale(1);
    transform: translate(-50%, 50%) rotate(-40deg) !important;
  }
  50% {
    transform: translate(-50%, 50%) scale(1.1);
    transform: translate(-50%, 50%) rotate(-40deg) !important;
  }
  100% {
    transform: translate(-50%, 50%) scale(1);
    transform: translate(-50%, 50%) rotate(-40deg) !important;
  }
}